# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
*.env

# Static files (we'll collect these on the server)
/staticfiles/
/static/

# Media files (your MP3s)
/media/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# personal
/gitignore_personal/